<<<<<<< HEAD
<<<<<<< HEAD
<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>
  <h2>
    This is the home page for the
    <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>
  <%= link_to "Sign up now!", signup_path , class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200"),
"https://rubyonrails.org/" %>
<%# <%= link_to image_tag("kitten.jpg", alt: "kitten", width: "700")%>
=======
<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
>>>>>>> 652ef3c (Added a static page controller)
=======
<% provide(:title, "Home")%>
<h1>Sample App</h1>
<p>
  This is the home page for the
  <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>
>>>>>>> 3cc1883 (Finished Static pages)
